* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {

    background-color: #FF6800;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

li {
    display: inline-block;
    font-size: small;
    font-weight: bold;
}

.nav-customers ul {
    list-style: none;
}

.nav-customers ul a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 1rem 1rem;
}

.img-logo {
    width: 80px;
    height: 20px;
}

.nav-icons span {
    color: white;
}

.flex-container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.col {
    flex-basis: 33.3%;
    padding: 1rem;
}

.product-card {
    background-color: grey ;
    height: 450px;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name {
    color: grey;
    font-size: small;
}

h4 {
    font-size: small;
}

.discount {
    color: red;
    font-size: small;
}

.price {
    font-size: small;
    text-decoration: line-through;
}

.block-img {
    display: block;
}

.hover-img {
    display: none;
}

.product-card:hover .block-img {
    display: none;
}

.product-card:hover .hover-img {
    display: block;
}


